<html xmlns:th="http://www.thymlead.org">
<head>
<meta charset="ISO-8859-1">
<title>Jobiak.ai</title>
</head>
<body>
<h1>Customer Details</h1>
<h2 th:text="${customer.first_name}" style='background-color: rgb(255, 128, 255);'></h2>
<h2 th:text="${customer.last_name}" style='background-color: rgb(0, 255, 255);'></h2>
<h2 th:text="${customer.gender}" style='background-color: rgb(0, 255, 64);'></h2>
<h2 th:text="${customer.location}" style='background-color: rgb(255, 255, 0);'></h2>
<h2 th:text="${customer.age}" style='background-color: rgb(255, 255, 0);'></h2>
<h2 th:text="${customer.occupation}" style='background-color: rgb(255, 255, 0);'></h2>
</body>
</html>