<html>
<head><meta charset="ISO-8859-1">
<title></title>
</head>
<body>
</body>
<form action="custform" method="post" modelAttribute="customer">
Enter First Name:<input type="text" name="first_name"><br>
Enter Last Name:<input type="text" name="last_name"><br>
Enter Gender:<input type="text" name="gender"><br>
Enter Location:<input type="text" name="location"><br>
Enter Age:<input type="text" name="age"><br>
Enter Occupation:<input type="text" name="occupation"><br>
<input type="submit" value="Submit Details"><br>
</form>
</html>